<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array/>
	<key>Item1</key>
	<string>naversearchapp</string>
	<key>Item2</key>
	<string>naversearchthirdlogin</string>
	<key>NMFClientId</key>
	<string>m2oss2y2nd</string>
	<key>NSLocationDefaultAccuracyReduced</key>
	<true/>
</dict>
</plist>
